/* styles/login.css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", serif;
    font-weight: 500;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f7f7ff;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    width: 400px;
    padding: 20px;
    text-align: center;
    margin: 0 auto;
}

h1 {
    margin-bottom: 50px;
    font-size: 40px;
    font-weight: 600;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 16px;
    margin-bottom: 5px;
    text-align: left;
    display: block;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
}

.username-div, .password-div{
    margin-bottom: 30px;
}

.forgot-password{
    width: 100%;
    text-align: right;
}

input:focus{
    border: 1px solid #5b8bf7;
}

button {
    padding: 10px;
    background-color: #5b8bf7;
    color: white;
    text-align: center;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    background-color: #4a7ade;
}


hr{
    margin: 35px 0 20px 0;
}

.register{
    padding: 10px 0;
    font-size: 16px;
}

.go-to-register-page, .forgot-password-a{
    color: #5b8bf7;
    text-decoration: none;
    font-weight: 700;
}

.go-to-register-page:hover, .forgot-password-a:hover { 
    text-decoration: underline; 
}